
.sort_button{
    color: #fff;
    background-color: red;
    border: 2px solid black;
    position: relative;
    left: 70%;
}
.product_container{
    display: flex;
    width: 60vw;
    position: relative;
    left: 15%;
    margin: 10px;
    border: 2px solid black;
    padding: 1rem;
}

.product_body_title{
    color: red;
    margin: 1rem;
}
.description{
    display: block;
    margin: 0 1rem;
}

.product_img{
    width: 20vw;
    height: 20vh;
    display: inline;
}

.color_fade{
    font-weight: lighter;
}

/* create page styles */

.create_page_body{
    padding: 0.5rem;

}
.create_page_item{
    width: 40%;
    border: 1px solid black;
    display: block;
    align-items: center;
    margin: auto;
    padding: 0.5rem;
    margin-top: 1rem;

}


#total_price{
    position: relative;
    margin: 3rem 10rem;
    font-size: xx-large;
    color: blue;
    border: 1px solid black;
    width: 60vw;
    text-align: center;
    left: 5%;

}

#total_price span{
    color: red;
}

